/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    min-width: 220px;
  }
  /* TOPBAR ******************************************************* */
  /* NAVBAR ******************************************************* */
  /* HERO ********************************************************* */
  .hero {
    &::before {
      background: transparent;
    }
    .containerish {
      z-index: 10;
      height: inherit;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      .section-info {
        grid-row: 2;
        grid-column: 2 / 3;
      }
    }
  }
  /* ACCOUNT ****************************************************** */
  /* AFFILIATE **************************************************** */
  /* CC TERMINALS ************************************************* */
  /* BIZ CAPITAL ************************************************** */
  /* FOOTER ******************************************************* */
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
    width: 225px;
  }

  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
  }
  /* TOPBAR ******************************************************* */
  .topbar {
    .containerish {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      padding: 0.2rem 1rem;

      .col-left {
        grid-row: 1;
        grid-column: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        a {
          margin-right: 0.8rem;
        }
      }
      .col-right {
        grid-row: 1;
        grid-column: 2 / 3;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
  /* NAVBAR ******************************************************* */
  /* HERO ********************************************************* */
  /* ACCOUNT ****************************************************** */
  /* AFFILIATE **************************************************** */
  /* CC TERMINALS ************************************************* */
  /* BIZ CAPITAL ************************************************** */
  /* FOOTER ******************************************************* */
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  /* TOPBAR ******************************************************* */
  /* NAVBAR ******************************************************* */
  /* HERO ********************************************************* */
  .hero {
    &::before {
      background: transparent;
    }
    .containerish {
      z-index: 10;
      height: inherit;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      .section-info {
        grid-row: 2;
        grid-column: 2 / 3;
        padding: 0.5rem 2rem;
      }
    }
  }
  /* ACCOUNT ****************************************************** */
  /* AFFILIATE **************************************************** */
  /* CC TERMINALS ************************************************* */
  /* BIZ CAPITAL ************************************************** */
  /* FOOTER ******************************************************* */
}

/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {
  /* TOPBAR ******************************************************* */
  /* NAVBAR ******************************************************* */
  /* HERO ********************************************************* */
  /* ACCOUNT ****************************************************** */
  /* AFFILIATE **************************************************** */
  /* CC TERMINALS ************************************************* */
  /* BIZ CAPITAL ************************************************** */
  /* FOOTER ******************************************************* */
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {
  /* TOPBAR ******************************************************* */
  /* NAVBAR ******************************************************* */
  /* HERO ********************************************************* */
  /* ACCOUNT ****************************************************** */
  /* AFFILIATE **************************************************** */
  /* CC TERMINALS ************************************************* */
  /* BIZ CAPITAL ************************************************** */
  /* FOOTER ******************************************************* */
}
